.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20px;
  margin-top:60px; 
}

.display {
  position: relative;
  width: 350px;
  aspect-ratio: 1;
}

.content {
  max-width: 570px;
}

.heading {
  font-size: 35px;
  font-weight: 600;
  line-height: 55px;
  max-width: 352px;
}

.subtext {
  font-size: 16px;
  line-height: 30px;
  max-width: 370px;
}
@media (max-width: 600px){
  .content{
    padding-left: 40px;
  }
}

@media (min-width: 600px) {
  .display {
    width: auto;
    height: 595px;
    aspect-ratio: 1;
  }
  .heading {
    color: #777;
    font-size: 60px;
    font-weight: 600;
    line-height: 85px;
    max-width: 570px;
  }
  .subtext {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    max-width: 570px;
  }
}

@media (min-width: 900px) {
  .section {
    flex-direction: row;
  }
}
